.sky {
    width: 100%;
    height: 50vh;
    background-color: skyblue;
    background: #246e89 url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/641/bg_sky.jpg") repeat-x  100% 100% / auto 100%;
  top: 0;
  position: fixed;
}

.clouds {
    margin-top: 7%;
}

.clouds img {
    top: 0;
    width: 25%;
    margin-right: 3%;
}